<h1 i18n>Angular Router App</h1>
<nav>
    <ul>
        <li><a i18n routerLink="../add-student" routerLinkActive="active" ariaCurrentWhenActive="page">Add Student</a></li>
        <li><a i18n routerLink="../student-details" routerLinkActive="active" ariaCurrentWhenActive="page">Student Details</a></li>
        <li><a i18n routerLink="../student-marks" routerLinkActive="active" ariaCurrentWhenActive="page">Student Marks</a></li>
        <li><a i18n routerLink="../tree" routerLinkActive="active" ariaCurrentWhenActive="page">Tree</a></li>
    </ul>
</nav>