<h1>Angular Router App</h1>
<nav>
    <ul>
        <li><a routerLink="../add-student" routerLinkActive="active" ariaCurrentWhenActive="page">Add Student</a></li>
        <li><a routerLink="../student-details" routerLinkActive="active" ariaCurrentWhenActive="page">Student Details</a></li>
        <li><a routerLink="../student-marks" routerLinkActive="active" ariaCurrentWhenActive="page">Student Marks</a></li>
        <li><a routerLink="../tree" routerLinkActive="active" ariaCurrentWhenActive="page">Tree</a></li>
    </ul>
</nav>